mobile/node_modules
mobile/android/.gradle
mobile/android/.idea
mobile/android/app/build/*
mobile/dist
mobile/ios/build
mobile/ios/Pods
mobile/ios/Podfile.lock
mobile/build/*
mobile/local
mobile/ios/mov_rct_ntv.xcworkspace/xcuserdata
AppServer/node_modules
